# --- .gitignore para DevLab.nosync ---

# Entorno Virtual Principal
.venv/
bin/
include/
lib/
pyvenv.cfg

# Archivos de configuración sensible (Individual de cada cuarto)
**/.env

# Basura de Python y Sistema
**/__pycache__/
**/*.py[cod]
.DS_Store

# Archivos temporales de Oracle/Azure
**/*.log
**/*.tmp# Created by venv; see https://docs.python.org/3/library/venv.html
*
